<div class="container-fluid mt-3">
  
  <div class="row" id="todolist-row">
    
    <!-- SECTION Tasks Counters -->
    <div class="col-md-4">
      <div class="row gap-0 column-gap-2 mt-1 mb-3 ms-2">
        <div class="div-counter">
          <div class="d-flex flex-column justify-content-center align-items-left h-100">
            <div class="counter" id="counter-todo"> {{ numItemsTodo }} </div>
            <div class="counter-desc">to-do</div>
          </div>
        </div>
        <div class="div-counter">
          <div class="d-flex flex-column justify-content-center align-items-left h-100">
            <div class="counter" id="counter-done">{{ numItemsDone }}</div>
            <div class="counter-desc">done</div>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION List of Tasks -->
    <div class="col-md-8 section-list">
      <!-- FILTER Status Buttons -->
      <div class="btn-toolbar column-gap-2 ms-2" role="group" aria-label="Toolbar with buttons">
        <input type="radio" class="btn-check" name="btnradio" id="opt-all" (click)="filterHandler('')" checked>
        <label class="btn btn-outline-primary" for="opt-all">Show All</label>

        <input type="radio" class="btn-check" name="btnradio" id="opt-todo" (click)="filterHandler('todo')"> <!-- (click)="retrieveByStatus(false)" -->
        <label class="btn btn-outline-primary" for="opt-todo">Show To-do</label>

        <input type="radio" class="btn-check" name="btnradio" id="opt-done" (click)="filterHandler('done')"> <!-- (click)="retrieveByStatus(true)" -->
        <label class="btn btn-outline-primary" for="opt-done">Show Done</label>
      </div>

      <!-- List of Tasks -->
      <div class="row gap-0 mt-2 ms-2">
        <!-- FORM Add To-do -->
        <div id="input-add-todo" class="mb-2">
          <app-todo-add (todoAdded)="refreshList()"></app-todo-add>
        </div>

        <!-- ALERT No To-Dos -->
        <div class="alert alert-warning mt-2 column-gap-2 d-flex align-items-center" *ngIf="todoItems.length == 0">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          <span><strong>There are no TO-DOs to display here&excl;</strong></span>
        </div>

        <!-- To-do Items -->
        <div class="item col-lg-12 column-gap-2 mt-2" *ngFor="let todo of todoItems; let i = index" [class.complete]="todo.done">
          <div class="col-lg-11 col-10 d-flex align-items-center">
            <div class="d-flex">
              <input id="todo-checkbox-{{i}}" class="form-check-input mt-0" type="checkbox" value="" (click)="updateStatus(todo, i)"
                [checked]="todo.done">
            </div>
            <div class="col d-flex ms-1">
              <form class="col d-flex column-gap-2">
                <input id="todo-input-{{i}}" type="text" [value]="todo.name" [disabled]="i !== currentIndex">
                <button type="submit" class="btn btn-success" (click)="updateName(todo, i)" [hidden]="i !== currentIndex">Save</button>
                <button class="btn btn-primary" (click)="setActiveTodo(todo, i)" [hidden]="i === currentIndex" [disabled]="todo.done">Edit</button>
              </form>
            </div>
          </div>
          <div class="col-1 d-flex">
            <button class="btn btn-danger" (click)="openDeleteConfirmation(todo)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>