<header class="navbar sticky-top">
  <div class="container-fluid">
    <div class="d-flex row align-items-start col-12 column-gap-2">

      <div class="navbar-brand col-sm-2">
        <img class="align-middle"
          src="../assets/img/logo-transparent-outline-white.png"
          alt="Todolist logo" height="35" />
        <!-- * Checklist icons created by Graphics Plazza - Flaticon: https://www.flaticon.com/authors/graphics-plazza -->
      </div>
    </div>
  </div>
</header>

<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>